body{
    background-image:repeating-radial-gradient(#AFD5F0, #FFC5D3);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
}
#container{
    width: 800px;
    margin: 20px auto;
    background-color: whitesmoke;
    padding: 15px;
}
h1{
    background-color: #FFC5D3;
    border: 3px solid black;
    border-radius: 17px;
    padding: 10px;
    text-align: center;
    width: 40%;
    margin: 20px auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    font-size: 1.3em;
    text-align: center;
    font-style: italic;
}
h3{
    border-left: 20px double #AFD5F0;
    padding-left: 15px;
    border-radius: 30px;
}
p{
    line-height: 2.0em;
    padding: 20px;
    border: 3px solid black;
}
img{
    width:300px;
    border: 2px dotted #000;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
}

/* PSEUDO SELECTORS */
a:link{
    color: purple;
    text-decoration: none;
    font-weight: bold;
}
a:visit{
    color: pink;
}
a:hover{
    color: blue;
}
a:active{
    color: black;
}

/* ID RULES */
#pic2{
    float: right;
}
#pic3{
    margin-bottom: none;
    margin-top: 15px;
}
/* CLASS RULE */
.highlight{
    background-color: lightgoldenrodyellow;
    color: black;
    padding: 2px;
    border-radius: 3px;
    font-weight: bold;
}
.border {
  border-image: linear-gradient(to right, #9476f0 0%, #61b7ea 100%) 1;
  border-width: 4px;
  border-style: solid;
  padding: none;
  float: right;
  margin-top: 65px;
  margin-right: 20px;
  margin-left: 35px;
  margin-bottom: 25px;
  margin: none;
  width: 175px;
  height: 190px;
}
#sidebar{
    background-color: #AFD5F0;
    border: 2px solid black;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    width: 175px;
    height: 190px;
    line-height: 1.3em;
}
#sidebar h3{
    text-align: center;
    padding: none;
    margin-left: 5px;
    margin-right: 5px;
    border: 3px dashed black;
    border-radius: 17px;
}
.animation{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(20,end);
}
@keyframes typing{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@media (max-width: 1200px){
    #container{
        width: 800px;
        background-color:aliceblue;
    }
}
@media (max-width: 992px){
    #container{
        background-color:white;
        width: 100%;
    }
    body, p, #container{
        margin: 5px;
        border: none;
        padding: 0;
        background-color:#FFC5D3;
    }
    h1{
        background-color: white;
    }
    }
@media (max-width: 768px){
    #sidebar{
        display: none;
    }
    .border{
        display: none;
    }
    h1{
        border: none;
        background-color:#FFC5D3;
    }
    img{
        width: 200px;
    }
}